.header{
  margin-bottom: 100px;
}

.box {
  .dog {
    background-position: $posicion;
    position: relative;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }
}

.menu {
  display: inline-flex;
  img {
    height: 35px;
    margin: 20px 0 0 40px;
    cursor: pointer;
    position: absolute;
    top: 0;
  }
  button {
    padding: 5px 28px;
    background: $color1;
    color: $color2;
    font-size: 16px;
    border: 0;
    position: absolute;
    right: 10%;
    top: 5%;

    .fa {
      margin-right: 10px;
    }
  }
}
.ban-text {
  width: 80%;
  color: $color3;
  position: absolute;
  top: 35%;
  margin: 0 10%;
  text-align: $posicion;

  h2 {
    margin-top: 50px;
    font-size: 64px;
  }
  p {
    font-size: 14px;
    margin: 20px 0 50px;
  }
  a {
    text-decoration: none;
    color: $color2;
    border: 1px solid $color1;
    border-radius: 50%;
    display: block;
    padding: 10px;
    width: 120px;
    margin: auto;
    background: $color1;
  }
  a:hover {
    color: $color2;
    text-decoration: none;
    background: transparent;
  }
}
