/*globasles*/
$font-family: Arial, Helvetica, sans-serif;

$fondo-image:rgba(0,0,0,0.0);
$posicion:center;

/*colores*/
$color1:#ff4d73;
$color2:#fff;
$color3:rgb(0, 0, 0);
$color4:rgb(190, 167, 167);